
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ------FONTS----- */
@font-face {
    font-family: "Shentox";
    src:url("/fonts/Shentox\ Light.ttf");
}

@font-face {
    font-family: "Graphik";
    src: url("/fonts/GraphikRegular.otf");
}

@font-face {
    font-family: "Trump Soft Pro";
    src: url("/fonts/TrumpSoftPro.ttf");
}

@font-face {
    font-family: "Avalon";
    src: url("/fonts/Avalon.ttf");
}

/* ------MENU------ */
.menu-wrap {
    display: flex;
    justify-content: space-between;
    background-color: #f7f8f8;
    align-items: center;
    padding: 10px 15px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.menu {
    display: flex;
    list-style: none;
    padding-left: 0%;
}

.menu-list {
    padding-left: 15px;
    font-size: 14px;
    font-family: "Shentox", Arial, sans-serif;
    font-weight: 600;
    letter-spacing: 1.12px;
    color: #505666;
}

.menu-logo,
.menu-list,
.menu-icon:hover {
    cursor: pointer;
}

/* -------- HEADER TITLE -------- */
.page-header {
    margin-top: 80px;
    padding: 4% 6%;
    display: flex;
}

.page-logo {
    width: 80%;
}

.page-motto {
    width: 20%;
    font-family: "Graphik", sans-serif;
    font-size: 28px;
    letter-spacing: normal;
    color: #505666;
}

.page-logo img:hover {
    cursor: pointer;
}

/* ------- LATEST ARTICLES ------- */
.latest-articles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "art1 art1 art2 art3"
                         "art1 art1 gif gif"
                         "advs advs gif gif";
    grid-gap: 10px;
    padding: 30px 20px;
    
}

/*main article*/
.art1 {
    display: grid;
    grid-area: art1;
    width: auto;
    height: 25em;
    background-image: url("/img/art_backgrounds/facebook.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

.art-description {
    position: absolute;
    bottom: 0;
    margin-left: 20px;
}

.art-title {
    font-family: "Shentox", Arial, sans-serif;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.96px;
    color: #fff;
    margin-bottom: 10px;
}

.art-description-main {
    font-family: "Graphik", sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    margin-top: 0;
    margin-bottom: 20px;
}

/* secondary articles*/
.art2 {
    display: grid;
    grid-area: art2;
    width: auto;
    height: 15em;
    background-image: url("/img/art_backgrounds/neural.jpg");
    background-size: 100% 100%;
    position: relative;
}

.art-description-secondary {
    font-family: "Graphik", sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: #fff;
    margin-top: 0;
    margin-bottom: 20px;    
}

.art3 {
    display: grid;
    grid-area: art3;
    width: auto;
    height: 15em;
    background-image: url("/img/art_backgrounds/cowboy.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

/*avertisment*/
.advs {
    display: grid;
    grid-area: advs;
    width: auto;
    height: 12em;
    background-image: url("/img/art_backgrounds/conference-banner.jpg");
    text-align: center;
    padding-top: 40px;
}

.advs-btn{
    width: 133px;
    height: 47px;
    border: 1px solid white;
    border-radius: 24px;
    font-family: "Graphik", sans-serif;
    font-size: 14px;
    color: #fff;
    background-color: transparent;
    
}

/*gif*/
.gif {
    display: grid;
    grid-area: gif;
    width: auto;
    background-image: url("/img/art_backgrounds/nothing-gif.gif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 280px;
    padding-left: 4%;
}

.art1,
.art2,
.art3,
.gif,
.advs-btn:hover {
    cursor: pointer;
}

/*--------------POPULAR ARTICLES--------------*/
.popular-articles {
    background-color: #f7f8f8;
    padding: 50px 40px;
}

.pop-title {
    padding-top: 30px;
    text-align: center;
    font-family: "Trump Soft Pro", sans-serif;
    font-weight: bold;
    font-size: 32px;
    letter-spacing: 0.32px;
    color: #c3c5ca;
}

.pop-art-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    padding: 30px 50px;
    list-style-type: none;
    counter-reset: my-counter;
}

.pop-art-wrapper li::before {
    content: counter(my-counter); 
    counter-increment: my-counter; 
    font-family: "Trump Soft Pro", sans-serif;
    font-size: 38px;
    color: #cc0099;
    padding-top: 0;
  }

  .pop-art-wrapper li {
      display: flex;
      align-items: flex-start;
      padding-right: 25px;
}

  .pop-art-wrapper h4 {
      margin-top: 5px;
      padding-left: 10px;
      font-family: "Graphik", sans-serif;
      font-size: 16px;
  }

  .pop-art-wrapper h4:hover {
      cursor: pointer;
  }

/*-----------LATEST STORIES------------------*/
.latest-stories {
    padding: 8em 4em;
}

.lat-stor-title {
    font-family: "Avalon";
    font-size: 40px;
    font-weight: bold;
}

.lat-stor-articles {
    flex-basis: 25%;
    padding: 10px;
}

.lat-stor-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}

.lat-stor-description {
    font-family: "Graphik", sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
}

.time-ago {
    color: #a7aab2;
    font-family: "Graphik", sans-serif;
    font-size: 14px;
    padding-top: 0;
}

.lat-stor-btn-wrapper {
    text-align: center;
    padding-top: 50px;
}

.lat-stor-btn {
    padding: 15px 25px;
    color:#fff;
    border-style: none;
    border-radius: 24px;
    background-color: #00cccc;
    font-family: "Graphik", sans-serif;
}

.lat-stor-articles img,
.lat-stor-description,
.lat-stor-btn:hover {
    cursor: pointer;
}

/*------- NEWSLETTER ------*/
.newsletter {
    background-color: black;
    background-image: url("/img/newsletter_background.webp");
    background-size: 100%;
    background-attachment: fixed;
    background-position: 100%;
    
}

.newsletter-container {
    text-align: center;
    padding: 40px;
}
.newsletter-title {
    font-family: "Avalon", sans-serif;
    font-size: 42px;
    color: #fff;
    margin-bottom: 10px;
}

.newsletter-describe {
    font-family: "Graphik", sans-serif;
    font-size: 16px;
    color: #fff;
}

.newsletter-form {
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    align-items: center;
    height: 40px;
    max-width: 60%;
    margin-left: 20%;
    margin-top: 2em;
}

.form-icon {
    padding: 10px;
}

.email {
    width: 100%;
    border-style: none;
}

.email:focus {
    outline: none;
}

.form-btn {
    border-style: none;
    background-color: #fff;
    font-family: "Graphik", sans-serif;
    font-size: 14px;
    color: #a7aab2;
    padding: 0.5em;
}

.form-btn:hover {
    cursor: pointer;
}

.newsletter-social {
    padding: 30px;
}

.social-icon {
    width: 40px;
    padding: 5px;
}

.social-icon:hover {
    cursor: pointer;
    transform: scale(1.1);
}

/* --------- REACH YOUR GOALS --------*/
.reach-goals {
    padding: 90px 40px 0 100px;
}
.reach-container {
    display: flex;
    
}

.reach-description {
    flex-basis: 50%;
}

.reach-section {
    font-family: "Shentox", sans-serif;
    font-size: 16px;
    color: #505666;
    margin-bottom: 0px;
}

.reach-title {
    font-family: "Avalon", sans-serif;
    font-size: 28px;
    margin-top: 0px;
}

.reach-text {
    font-family: "Graphik", sans-serif;
    font-size: 18px;
    font-weight: lighter;
    color: #505666;
    line-height: 27px;
}

.reach-btn {
    padding: 15px 25px;
    color:#fff;
    border-style: none;
    border-radius: 4px;
    background-color: #00cccc;
    font-family: "Graphik", sans-serif;    
}

.reach-btn:hover {
    cursor: pointer;
    background-color: #059c9c;
}

.reach-images-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-left: 4%;
    margin-top: 4%;
}

.reach-img {
    display: flex;
    align-items: center;
    flex-basis: 50%;
}

.reach-img img {
    width: 112px;
}

.reach-img h4 {
    font-family: "Graphik", sans-serif;
    font-size: 16px;
    padding-left: 10px;
}

.reach-partner {
    display: flex;
    justify-content: space-around;
    padding: 40px 10% 50px 5%;
}

.partner-icon {
    flex-basis: 12.5%;
    max-width: 12.5%;
}

.partner-icon:hover {
    cursor: pointer;
}

/*------ FOOTER -----*/
.footer-wrapper {
    margin-bottom: 0;
    background-color: black;
    color: #fff;
}

.top-footer {
    display: flex;
    padding: 3em 2em 1em 8em;
    border-bottom: 1px solid #a7aab2;
}

.footer-logo-wrapper {
    flex-basis: 50%;
    position: relative;
}

.footer-moto {
    font-family: "Graphik", sans-serif;
    font-size: 24px;
    margin-top: 5px;
    margin-left: 5px;
}

.footer-icons-wrapper {
    position: absolute;
    bottom: 20px;
}

.footer-more {
    flex-basis: 25%;
}

.footer-more h3 {
    font-family: "Graphik", sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 0;
    margin: 0 0 1rem 0;    
}

.more-title {
    font-family: "Graphik", sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    
}

.more-title li {
    font-family: "Graphik", sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: #00cccc;
    list-style: none;
    list-style-position: outside;
    padding: 0;
    margin: 0;
}

.more-title li:hover {
    cursor: pointer;
}

.bottom-footer {
    padding: 3em;
    font-family: "Graphik", sans-serif;
    font-size: 14px;
    color: #a7aab2;
    text-align: center;
}
  


